#root {
  display: flex;
  flex-direction: column;
}
.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(max(480px, 50vw), 70vw);
  height: max-content;
  margin: auto;
  padding: 5px 10px 5px 10px;
  border: double 10px;
}
.todo-app > h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2px;
  margin-bottom: 3px;
  width: 100%;
}
.todo-app > progress {
  width: 80%;
}
.complete {
  text-decoration: line-through;
  color: grey;
}
.todo-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
  padding: 3px;
  border: solid 1px;
}
.todo-form input {
  width: auto;
}
.todo-list {
  width: 80%;
  /*background-color: aqua;*/
}
.todo-row {
  display: flex;
  margin-bottom: 10px;
}
.todo-row details[open] summary {
  border-bottom: solid 1px;
}
.todo-row details summary {
  font-weight: bold;
}
.task {
  width: 80%;
  overflow-wrap: break-word;
  border: solid 2px;
  padding: 5px;
}
.priority1 {
  background-color: #ef6c6c;
}
.priority2 {
  background-color: #f8b331;
}
.priority3 {
  background-color: yellow;
}
.priority4 {
  background-color: #6cf66c;
}
.priority5 {
  background-color: aqua;
}
.icons {
  margin-left: auto;
  font-size: 20px;
}


.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 8px;
  border: double 5px;
  border-radius: 15px;
  width: max-content;
}
.clock div:nth-child(1) {
  font-size: 20px;
  border-bottom: solid 2px;
}
.clock div:nth-child(2) {
  margin-top: 3px;
  font-size: 15px;
}
