.todo-app {
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.todo-app > div > h1 {
  display: flex;
  justify-content: center;
}
.complete {
  text-decoration: line-through;
  color: grey;
}
.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}
.todo-list {
  width: max(480px, 70vw);
  padding: 10px;
  /*background-color: aqua;*/
}
.todo-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.task {
  width: 80%;
  overflow-wrap: break-word;
  border: solid 2px;
  padding: 5px;
}
.icons {
  margin-left: auto;
  font-size: 20px;
}