.todo-app {
  display: flex;
  justify-content: center;
  width: 80%;
  height: max-content;
  margin: auto;
  padding: 5px 10px 5px 10px;
  border: double 10px;
}
.todo-app > div > h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
  border-bottom: solid 2px;
}
.complete {
  text-decoration: line-through;
  color: grey;
}
.todo-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}
.todo-list {
  width: max(480px, 70vw);
  padding: 10px;
  /*background-color: aqua;*/
}
.todo-row {
  display: flex;
  margin-bottom: 10px;
}
.todo-row details[open] summary {
  border-bottom: solid 1px;
}
.todo-row details summary {
  font-weight: bold;
}
.task {
  width: 80%;
  overflow-wrap: break-word;
  border: solid 2px;
  padding: 5px;
}
.icons {
  margin-left: auto;
  font-size: 20px;
}